@charset "utf-8";
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: "ו";
	font-size: 12px;
	color: #333333;
	background:#eee;

}
/* CSS Document */
.wrap_fankui_error {
  display: table;
  background: #f0f2f7 url("../images/default/icon_gantan.gif") 10px 10px no-repeat;
  border: 1px solid #ccdded;
  height: 125px;
  width: 100%;
  margin-top: 1px;
  position: relative;
  left: -1px;
  overflow: hidden;
}
.wrap_fankui_error .subwrap_fankui {
  vertical-align: middle;
  display: table-cell;
}
.area_button {
  padding: 15px 0px 15px 195px;
}
.area_button .button_lessThan4 {
  color: #fff;
  background: url(../images/default/button_lessThan_ALL20.gif) -114px -20px no-repeat;
  height: 20px;
  line-height: 22px;
  border: none;
  text-align: center;
  cursor: pointer;
  width: 70px;
  margin-right: 8px;
  font-size: 13px;
  float: inherit;
}


 p{margin:0;padding:0;}
#tt .panel-body{/*background:url(../images/conbg.jpg) repeat;*/ background:#fff;padding:0px;position:relative;top:6px; }
.nav_nohover{width:200px;height:30px;  display:block; line-height:30px !important; position:relative;text-indent: 0px;}
.nav_hover,.nav_hover2{color:#000 !important;}
.nav_hover .icon_jiantou{background:url(../images/set4.jpg) no-repeat}
.nav_hover2 .icon_jiantou{background:url(../images/set6.jpg) no-repeat}
.nav_nohover2 .icon_jiantou{background:url(../images/set7.jpg) no-repeat}
.threeMeun{display:none;width:140px; overflow:hidden;}
.incon_dj_base{ position:relative; display:block;top: 6px;left: 15px;float: left; width:28px; height:28px; }
.incon_dj{background:url(../images/ghdj02.png) no-repeat}
.incon_tj{background:url(../images/main_48.png) no-repeat}
.incon_yjjb{background:url(../images/blsh02.png) no-repeat}
.incon_bmsl{background:url(../images/bmsl02.png) no-repeat}
.incon_bmbl{background:url(../images/bmsl02.png) no-repeat}
.incon_blsh{background:url(../images/blsh02.png) no-repeat}
.incon_xhtc{background:url(../images/xhtc02.png) no-repeat}
.incon_ghtj{background:url(../images/ghtj02.png) no-repeat}
.incon_bmtj{background:url(../images/ghtj02.png) no-repeat}
.incon_xhcx{background:url(../images/ghcx02.png) no-repeat}
.incon_wxgh{background:url(../images/blsh02.png) no-repeat}
.incon_hfgq{background:url(../images/blsh02.png) no-repeat}
.incon_blgq{background:url(../images/blgq02.png) no-repeat}
.incon_tjzc{background:url(../images/tjzc02.png) no-repeat}
.incon_ckzc{background:url(../images/ghcx02.png) no-repeat}
.incon_tjgg{background:url(../images/tjgg02.png) no-repeat}
.incon_ckgg{background:url(../images/ghcx02.png) no-repeat}
.incon_yhlx{background:url(../images/grgz02.png) no-repeat}
.incon_yhxx{background:url(../images/grgz02.png) no-repeat}
.incon_jsxx{background:url(../images/grgz02.png) no-repeat}
.incon_bmgl{background:url(../images/bmsl02.png) no-repeat}
.incon_mmxg{background:url(../images/xgmm02.png) no-repeat}
.incon_qzfk{background:url(../images/qzfk02.png) no-repeat}
.incon_qzss{background:url(../images/qzfk02.png) no-repeat}
.incon_grgz{background:url(../images/grgz02.png) no-repeat}
.incon_ly{background:url(../images/ly.png) no-repeat center center;}
.incon_zbcy{background:url(../images/zbjc.png) no-repeat center center;}
.incon_contrl{background:url(../images/contrl.png) no-repeat ;}
#westayout .panel-title{position:relative;top:-4px;}

.spring{ background:#FFF8E2;left:5%; color:#463714;  position:absolute; z-index: 99; padding:8px 20px; box-shadow: 0 -2px 3px rgba(201, 175, 111, 0.2) inset; font-size:18px; line-height:1.5em; background:#F7CA01; text-shadow:#e7CA01 1px 1px;
}
.spring .wrapper{
	margin-top:0; background:#FFF8E2;
}
.spring .wrapper a{font-size:18px;background:#fff8e2;color:#00F;}
.spring del{ position: absolute; right: 20px; top: 10px; cursor:pointer; text-decoration:none;
 color: #000000;
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  opacity: 0.2;
  text-shadow: 0 1px 0 #FFFFFF;
	 }
a.jumpa{display:block;color:#444;}
.panel-body{overflow:hidden;}
#wardiv{overflow:hidden;position:absolute; background:#fff;border:1px solid #000; top:45%; opacity:0;filter:alpha(opacity=0);left:45%; margin:0 auto; display:block}

a:link{
	font-family: "";
	font-size: 12px;
	line-height: 1.5;
	font-weight: normal;
	color: #8b8b8b;
	text-decoration: none;
}
a:visited{
	font-family: "";
	font-size: 12px;
	line-height: 1.5;
	font-weight: normal;
	color: #8b8b8b;
	text-decoration: none;
}
a:hover{
	font-family: "";
	font-size: 12px;
	line-height: 1.5;
	font-weight: normal;
	color: #144882;
	text-decoration: underline;
}
a{outline:none}
.font1{
	font-family: "";
	font-size: 12px;
	line-height: 1.5;
	font-weight: normal;
	color: #333333;
}
.txt{
	font-size: 12px;
	line-height: 1.5;
	font-weight: normal;
	color: #333333;
	width:150px;
}
a.font1:link{
	font-family: "";
	font-size: 12px;
	line-height: 1.5;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
a.font1:visited{
	font-family: "";

	font-size: 12px;
	line-height: 1.5;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
a.font1:hover{
	font-family: "";
	font-size: 12px;
	line-height: 1.5;
	font-weight: normal;
	color: #144882;
	text-decoration: underline;
}
.font2{
	font-family: "";
	font-size: 12px;
	line-height: 1.5;
	font-weight: normal;
	color: #144882;
}
a.font2:link{
	font-family: "";
	font-size: 12px;
	line-height: 1.5;
	font-weight: normal;
	color: #144882;
	text-decoration: none;
}
a.font2:visited{
	font-family: "";
	font-size: 12px;
	line-height: 1.5;
	font-weight: normal;
	color: #144882;
	text-decoration: none;
}
a.font2:hover{
	font-family: "";
	font-size: 12px;
	line-height: 1.5;
	font-weight: normal;
	color: #144882;
	text-decoration: underline;
}
.font3{
	font-family: "";
	font-size: 12px;
	line-height: 1.5;
	font-weight: normal;
	color: #ffffff;
}
a.font3:link{
	font-family: "";
	font-size: 12px;
	line-height: 1.5;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
}
a.font3:visited{
	font-family: "";
	font-size: 12px;
	line-height: 1.5;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
}
a.font3:hover{
	font-family: "";
	font-size: 12px;
	line-height: 1.5;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: underline;
}
.dfooter{width:100% ; text-align: center; float:left;}
.dfooter div , .dfooter a {background:#bababb;color:#323232 !important}
